.about-first-page{
    text-align: center;
    margin-bottom: 200px;
}

.about-first-page ion-title h1{
    font-size: 62px;
}

.about-first-page ion-text h4{
    font-size: 24px;
}

.about-first-page img{
    margin-bottom: -50px
}

.team-component{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.team-component{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--ion-color-light);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-component a{
    color: #7a7a7a;
    text-decoration: none;
}


.h1-text{
    font-size: 1.3rem;
    margin: 30px 0;
    color: var(--ion-color-light-contrast);;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-text ion-icon{
    background-color: var(--ion-color-secondary);
    padding: 8px;
    border-radius: 100%;
    color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 30px rgba(22, 115, 41, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 20px;
}

.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 


.box{
    position: relative;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}


.top-bar{
    width: 50%;
    height: 4px;
    background: var(--ion-color-secondary);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 10px 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width: 100%;
}

.fa-check-circle{
    color: #17b667;
}

.heart{
    color: rgba(0, 0, 0, 0.8);
}

.content img{
    width: 90px;
    height: 90px;
    border-radius:100px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content strong{
    font-weight: 500;
    color: #141414;
    margin-top: 10px;
}
.content p{
    font-size: 0.9rem;
    color: #7a7a7a;
    margin: 4px 0px 10px 0px;
    cursor: pointer;
}
.content p:hover{
    text-decoration: underline;
}

.btn{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn a{
    border-radius: 20px;
    color: #8b8b8b;
    padding: 8px 20px;
    font-size: 0.9rem;
}
.btn a:hover{
    color: #fff;
    box-shadow: 2px 5px 15px rgba(9, 95, 48, 0.05);
    background-color: var(--ion-color-secondary);
    transition: all ease 0.5s;
    cursor: pointer;
}