.title {
    text-align: center;
}

.container {
    position: relative;
}

.send-report-container {
    position: relative;
}

.reportMapForm {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

.map {
    height: 100%;
    width: 100%;
}

.label {
    display: inline-block;
    padding: 7px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--ion-color-light);
    color: var(--ion-text-color);
}

.label:active {
    background-color: var(--ion-color-step-300);
}

.upload {
    display: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ol li {
    list-style: none;
}

.trash-image {
    max-height: 350px;
}

.marker {
    position: absolute;
    margin-left: -15px;
    margin-top: -35px;
}