.title{
    text-align: center;
}

.container{
    position: relative;
}

.send-report-container{
    position: relative;
    
}

@media screen and (max-width: 500px) {
    .map{
        height: 40%;
        width: 70%;
        margin-left: 15%;
        margin-top: 2%;
        border: 6px solid var(--ion-color-tertiary-shade);
        border-radius: 5px;
    }

    .report-form{
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        background-color: var(--ion-color-light);
        border-radius: 12px;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 10%);
    }    
}

@media screen and (min-width: 500px) {
    .map{
        height: 50%;
        width: 40%;
        margin-left: 30%;
        margin-top: 2%;
        border: 6px solid var(--ion-color-tertiary-shade);
        border-radius: 5px;
        margin-bottom: 350px;
    }

    .report-form{
        min-width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 3%;
        background-color: var(--ion-color-light);
        border-radius: 12px;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 5%);
    }
}

.report-form > *{
    margin: 10px;
    align-self: center;
    text-align: center;
}

.label{
    display: inline-block;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--ion-color-medium);
    color: var(--ion-text-color);
}

.label:active{
    background-color: var(--ion-color-step-300);
} 

.upload{
    display: none;
}

.submit-report{
    width: 30%;
}

ol{
    margin: 0; padding: 0;
    list-style-position:inside;
}

ol li{
    list-style: none;
}

.trash-image{
    max-height: 350px;
}

.marker{
    position: absolute;
    margin-left: -15px;
    margin-top: -35px;
}