#warning {
    color: #e04055;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .test {
        width: 10%;
    }

    #container {
        padding-top: 5%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form {
        background-color: var(--ion-color-light);
        width: 30%;
        border-radius: 10px;
        padding: 20px;
    }

    #username {
        margin-left: 10px;
        text-align: center;
    }

    #password {
        margin-left: 10px;
        text-align: center;
    }

    #title {
        padding: 10px;
        text-align: center;
    }

    #button {
        display: flex;
        justify-content: center;
        margin-left: 35%;
        max-width: 30%;
    }

    #create {
        float: left;
        text-decoration: none;
    }

    #forgot {
        float: right;
        text-decoration: none;
    }
}

@media screen and (max-width: 800px) {
    .test {
        width: 50%;
    }

    #container {
        padding-top: 20%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form {
        background-color: #1e2023;
        width: 70%;
        border-radius: 10px;
        padding: 20px;
    }

    #username {
        margin-left: 15px;
        text-align: center;
    }

    #password {
        margin-left: 15px;
        text-align: center;
    }

    #title {
        padding: 10px;
        text-align: center;
    }

    #button {
        display: flex;
        justify-content: center;
        margin-left: 35%;
        max-width: 30%;
    }

    #create {
        text-align: center;
        text-decoration: none;
    }

    #forgot {
        text-align: center;
        text-decoration: none;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.first_tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120%;
    background-color: var(--ion-color-light-contrast);
    color: var(--ion-color-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 11px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 30%;
    left: -110%;
}

.tooltiptext-left {
    visibility: hidden;
    width: 100%;
    background-color: var(--ion-color-light-contrast);
    color: var(--ion-color-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 9.5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}

.tooltip:hover .tooltiptext {
    visibility:visible;
}


.tooltip:hover .tooltiptext-left {
    visibility:visible;
}

.account-info {
    background-color: var(--ion-color-step-150);
    border: 3px solid var(--ion-color-success);
    border-radius: 15px;
    padding-bottom: 15px;
}

.container {
    padding-top: 2%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
    padding: 5px;
    width: 98%;
    background-color: var(--ion-color-background);
    border-top: 2px solid var(--ion-color-primary);
    border-left: 2px solid var(--ion-color-primary);
    border-right: 2px solid var(--ion-color-primary);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.trash-image-info {
    max-height: 150px;
}

#avatar {
    position: relative;
}

.middle {
    color: var(--ion-color-light-contrast);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

#avatar img {
    border-radius: 100%;
    opacity: 1;
}

#avatar:hover img {
    opacity: 0.6;
}

#avatar:hover .middle {
    opacity: 1;
}

.middle-confirm-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}