.test{
    width: 10%;
}

#warning{
  color:#e04055;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  #container{
      padding-top: 10%;
      margin:auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #form{
      background-color: #1e2023;
      width: 30%;
      border-radius: 10px;
      padding: 20px;
  }
  #username{
      margin-left: 10px;
      text-align: center;
  }
  #password{
      margin-left: 10px;
      text-align: center;
  }
  #title{
      padding: 10px;
      text-align: center;
  }
  #button{
     display: flex;
     justify-content: center;
     margin-left: 35%;
     max-width: 30%; 
  }
  #create{
      float: left;
      text-decoration: none;
  }
  #forgot{
      float: right;
      text-decoration: none;
  }
}

@media screen and (max-width: 1000px) {
  #container{
      padding-top: 30%;
      margin:auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #form{
      background-color: #1e2023;
      width: 70%;
      border-radius: 10px;
      padding: 20px;
  }
  #username{
      margin-left: 15px;
      text-align: center;
  }
  #password{
      margin-left: 15px;
      text-align: center;
  }
  #title{
      padding: 10px;
      text-align: center;
  }
  #button{
     display: flex;
     justify-content: center;
     margin-left: 35%;
     max-width: 30%; 
  }
  #create{
      text-align: center;
      text-decoration: none;
  }
  #forgot{
      text-align: center;
      text-decoration: none;
  }
}